MyProject_JW1810LM/web/WEB-INF/wsdl/localhost_8080/PaymentDemo/BankPaymentWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="CheckOder" type="tns:CheckOder"/>

<xs:element name="CheckOderResponse" type="tns:CheckOderResponse"/>

<xs:element name="FinishOrder" type="tns:FinishOrder"/>

<xs:element name="FinishOrderResponse" type="tns:FinishOrderResponse"/>

<xs:complexType name="FinishOrder">
<xs:sequence>
<xs:element name="TransactionId" type="xs:int"/>
<xs:element name="MerchantName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FinishOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckOder">
<xs:sequence>
<xs:element name="MerchantName" type="xs:string" minOccurs="0"/>
<xs:element name="AccNo" type="xs:string" minOccurs="0"/>
<xs:element name="AccName" type="xs:string" minOccurs="0"/>
<xs:element name="PaymentAmount" type="xs:float"/>
<xs:element name="Cvv" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckOderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>